<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/HomePage/Details.js"></script>
<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Templates/HomePageSearchpopup.js"></script>


<div ng-controller="VacanciesDetailsController" ng-cloak>
    <!--VACANCY SECTION-->
    <!-- Page Title
            <!-- Page Title
        ============================================= -->
    <section id="page-title" class="page-title-parallax page-title-dark"
             data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

        <div class="container text-center clearfix">
            <div class="back">
                <a href="https://hhhhteams.sharepoint.com/sites/HHHHTeams/sp/SitePages/Vacancies.aspx"
                   class="transition"><i class="icon-line-arrow-left"></i> <span>Back to vacancies</span></a>
            </div>
            <h1 class="nott mb-3">
                {{Vacancies[0].Title}}
                <a  ng-if="isOwner" class="hreflink" ng-click="EditItem1(Vacancies[0])">
                    <img class="edit-svg" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/hhh/images/edit.svg">
                </a>
            </h1>
            <span ng-bind-html="Vacancies[0].ShortDescription | trustedHTML"></span>
        </div>

    </section><!-- #page-title end -->
    <!-- Content
        ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vacancydetail-desc" ng-bind-html="Vacancies[0].Description | trustedHTML"</div>
                        <!--<div class="accordion accordion-bg">
                            <div ng-repeat="Item in Vacanciesdetals">
                                <div class="accordion-header">
                                    <div class="accordion-icon">
                                        <i class="accordion-closed icon-ok-circle"></i>
                                        <i class="accordion-open icon-remove-circle"></i>
                                    </div>
                                    <div class="accordion-title">
                                        {{Item.Title}}
                                    </div>                                   
                                </div>
                                <div class="accordion-content">
                                   
                                    <ul class="iconlist iconlist-color mb-0">
                                        <li>
                                            <span ng-bind-html="Item.Description | trustedHTML"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>                         
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
    <!--END OF VACANCY SECTION-->

    <div id="myModall" class="mymodal">
        <!-- Modal content -->
        <div class="mymodal-content">
            <div class="mymodal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelHomePagePopup()" style="min-width: 10px;">
                    &times;
                </button>
                <hhhh-Page-settings-info webpartid="'EditContentPopup'"></hhhh-Page-settings-info>
                <h3 class="modal-title">
                    Edit item
                </h3>
            </div>
            <div class="mymodal-body">

                <div class="row tab-content bdrbox mb-10">
                    <div class="col-sm-12 form-group">
                        <label>Title</label>
                        <input type="text" autocomplete="off" class="form-control" ng-model="Item.Title" />
                    </div>

                    <div class="col-sm-12 padL-0 PadR0">
                        <label>Description</label>

                        <div id="EditAddDescription"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-12 d-flex pl-0 pr-0">
                    <div class="col-sm-6 pl-0">
                        <div class="col-sm-12">
                            Created <span>{{Item.Created}}</span> by<a>
                                <span class="footerUsercolor">{{Item.Author.Title}}</span></a>
                        </div>
                        <div class="col-sm-12">
                            Last modified <span>{{Item.Modified}}</span> by<a>
                                <span class="footerUsercolor">{{Item.Editor.Title}}</span></a>
                        </div>
                        <div class="col-sm-12">
                            <!--<a ng-if="isOwner==true" style="cursor:pointer" ng-click="DeleteItem(Item);" class="ng-scope"><img src="/_layouts/images/delete.gif"> Delete this item</a>-->
                        </div>
                    </div>
                    <div class="col-sm-6 text-right pr-0">
                        <a ng-href="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Lists/Home%20Content/EditForm.aspx?ID={{Item.Id}}"
                           target="_blank">Open out-of-the-box form</a>
                        <button type="button" class="btn btn-primary" ng-click="saveHomePagePopup(Item)">Save</button>
                        <!--ng-disabled="projectForm.$error.required || projectForm.$error.pattern"-->
                        <button type="button" class="btn btn-default" ng-click="cancelHomePagePopup()">Cancel</button>
                    </div>
                </div>
                <!--<div class="mymodal-footer">
                    <h3>Modal Footer</h3>
                </div>-->
            </div>

        </div>


    </div>
</div>